<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new Person</title>
</head>
<body>
<form method="post" action="createNewPerson" th:object="${newPerson}">
    <div>
        <label th:for="*{getLastName()}">Last Name</label>
        <input type="text" th:field="*{lastName}" th:name="*{getLastName()}">
    </div>
    <span>Must not be blank</span>
    <div>
        <label th:for="*{getFirstName()}">First Name</label>
        <input type="text" th:field="*{firstName}" th:name="*{getFirstName()}">
    </div>
    <span>Must not be blank</span>
    <div>
        <label th:for="*{getDateOfBirth()}">Date of birth</label>
        <input type="date" th:field="*{dateOfBirth}" th:name="*{getDateOfBirth()}">
    </div>
    <span>Must be a date in the past or present</span>
    <div>
        <label th:for="*{getSex()}">Sex</label>
        <select th:name="*{getSex()}">
            <option th:each="s : ${availableSex}" th:field="*{sex}" th:value="${s}" th:text="${s}"></option>
        </select>
    </div>

    <fieldset>
        <legend>Interests</legend>
        <div th:each="i : ${allInterests}">
            <input type="checkbox" th:field="*{interests}" th:value="${i.getId()}" th:text="${i.getDescription()}">
        </div>
<!--        <div th:if="${#fields.hasErrors('interests')}" th:errors="*{interests}"></div>-->
    </fieldset>

    <button type="submit">Submit</button>
</form>
</body>
</html>