<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new Person</title>
</head>
<body>
<form method="post" action="createNewPerson" th:object="${newPerson}">

    <div>
        <label for="lastName">Last Name</label>
        <input type="text" th:field="*{lastName}" th:name="*{getLastName()}" id="lastName">
    </div>
    <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>

    <div>
        <label for="firstName">First Name</label>
        <input type="text" th:field="*{firstName}" th:name="*{getFirstName()}" id="firstName">
    </div>
    <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>

    <div>
        <label for="dateOfBirth">Date of Birth</label>
        <input type="date" th:field="*{dateOfBirth}"  id="dateOfBirth">
    </div>
    <div th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></div>

    <div>
        <label for="sex">Sex</label>
        <select th:field="*{sex}" id="sex" >
            <option th:each="s : ${sex}" th:value="${s}" th:text="${s}"></option>
        </select>
    </div>

    <fieldset>
        <legend>Interests</legend>
        <div th:each="i : ${interests}">
            <input type="checkbox" th:field="*{interests}" th:value="${i.getInterestId()}" th:text="${i.getDescription()}">
        </div>
        <div th:if="${#fields.hasErrors('interests')}" th:errors="*{interests}"></div>
    </fieldset>

    <input type="submit">
</form>
</body>
</html>