<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Question</title>
</head>
<body sec:authorize="hasRole('ROLE_ADMIN')">
<div style="display: inline-block">
    <div style="display: inline-block">Logged in as</div>
    <div style="display: inline-block" th:text="${user.username}"></div>
    <div style="display: inline-block"> |</div>
    <a href="/logout" style="display: inline-block">Logout</a>
</div>

<h1>Add Question</h1>

<form method="post" th:action="@{/questions/new}" th:object="${newQuestion}">
    <div>
        <label for="name">Title:</label>
        <input id="name" th:field="*{name}" th:name="*{getName()}" type="text"/>
    </div>
    <div th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></div>
    <br/>
    <div>
        <label for="questionText">Question:</label>
        <input id="questionText" th:field="*{question}" th:name="*{getQuestion()}" type="text">
    </div>
    <div th:errors="*{question}" th:if="${#fields.hasErrors('question')}"></div>
    <br>
    <div>
        <label for="questionExpiry">Expiry date:</label>
        <input id="questionExpiry" th:field="*{expiryDate}" th:name="*{getExpiryDate()}" type="date">
    </div>
    <div th:errors="*{expiryDate}" th:if="${#fields.hasErrors('expiryDate')}"></div>
    <input type="submit" value="Submit"/>
</form>

<a th:href="@{/questions/overview}">See All Questions</a>

</body>
<body sec:authorize="hasRole('ROLE_USER')">
<a th:href="@{/questions/overview}">Question Overview</a>
</body>
</html>