<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
</head>
<body>
<div style="display: inline-block">
    <div style="display: inline-block">Logged in as</div>
    <div th:text="${user.username}" style="display: inline-block"></div>
    <div style="display: inline-block"> |</div>
    <a href="/logout" style="display: inline-block">Logout</a>
</div>

<h1 th:text="${question.getName()}"></h1>
<p th:text="${question.getQuestion()}"></p>
<p th:text="${question.getExpiryDate()}"></p>
<form id="giveAnswer" th:object="${question}" method="post" th:action="@{/question/{id}/update (id=${question.getId()})}">
    <div th:each="answerType : ${answerTypes}">
        <label for="questionAnswer"></label>
        <input type="radio" id="questionAnswer" name="questionAnswer" th:text="${answerType.name()}">
    </div>
    <input type="submit" value="Submit Answer">
</form>

<div id="answers">
    Answers:
</div>
<br>
<a href="/questions">Back to overview</a>
</body>
<script th:inline="javascript">
    const role = /*[[${role}]]*/ 'ROLE_USER';
    if (role === 'ROLE_ADMIN') {
        document.getElementById("giveAnswer").setAttribute("hidden", "hidden");
        document.getElementById("answers").removeAttribute("hidden");
    }

    if (role === 'ROLE_USER') {
        document.getElementById("answers").setAttribute("hidden","hidden");
        document.getElementById("giveAnswer").removeAttribute("hidden");
    }
</script>
</html>