<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Question Overview</title>
</head>
<body sec:authorize="isAuthenticated()">
<div style="display: inline-block">
    <div style="display: inline-block">Logged in as</div>
    <div style="display: inline-block" th:text="${user.username}"></div>
    <div style="display: inline-block"> |</div>
    <a href="/logout" style="display: inline-block">Logout</a>
</div>

<table th:if="${questions.size()} > 0" style="table-layout: fixed; width: 50%; border-collapse: collapse">
    <tr>
        <th>Title</th>
        <th>Expiry Date</th>
        <th sec:authorize="hasRole('ROLE_ADMIN')" th:each="type : ${answerTypes}" th:name="typeHeader"
            th:text="${type.name()}"></th>
    </tr>
    <tr th:each="question : ${questions}" th:with="temp=${T(at.noahb.userverwaltung.util.FilterMap).filter(distribution.stream(), question.getId())}" style="text-align: center">
        <td th:text="${question.getName()}" style="text-align: left"></td>
        <td th:text="${question.getExpiryDate()}"></td>
        <td sec:authorize="hasRole('ROLE_ADMIN')" th:name="distribution" th:each="answerDistribution : ${temp}" th:text="${answerDistribution.getCount()}">
        </td>
        <td><a th:href="@{/questions/{id}(id=${question.getId()})}">Details</a></td>
    </tr>
</table>
<div th:if="${questions.size()} == 0">No new Questions</div>
<a href="/questions" id="new" sec:authorize="hasRole('ROLE_ADMIN')">new</a>
</body>
</html>